<div class="hero-section">
    <div class="hero-content">
        <h1 class="hero-heading">Welcome to Harmony Hub</h1>
        <p class="hero-text">Your ultimate destination for music lovers. Explore our extensive collection of products and discover a world of musical possibilities.</p>
        <a href="products_page" class="hero-button">Explore Products</a>
        <br><br>
    </div>
</div>